<!DOCTYPE html>
<html lang="en">
<head>
<!-- Tittle -->
<title>COMP698 Final Project Website</title>
<meta charset="utf-8">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/project.css') }}">
</head>
<body>
<!-- Block for the whole page -->
<div id="container">
<div id="header">  <!-- Logo and Heading block -->
<a href="/"><img src="/static/images/banner.jpg" alt="the banner" width="960" height="220"> </a> <!-- Logo image -->

<div id="navigation">
<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/practice">PRACTICE</a></li>	
    <li><a href="/poses">POSES</a></li>
	<li><a href="/about">ABOUT</a></li>
</ul>

</div>  <!-- Close of navigation-->
</div> <!--- close Logo and Heading -->


<div id="main">

<h2> HOME</h2>
<h3>HOW TO COMMIT TO A DAILY YOGA PRACTICE</h3>
<p>
There are many people doing yoga poses today, but there are far less people who have a yoga practice.
</p>
<p>
Postures are everywhere – Instagram, Facebook, Twitter, Pinterest, advertising, magazines, yoga classes, yoga retreats, yoga teacher trainings.
</p>
<p>
However, postures do not make a yoga practice.
</p>
<img src="/static/images/practice.jpg" alt="gallery" width="700" height="444">
<h3>POSTURE VS PRACTICE</h3>
<blockquote>
A yoga practice requires at least two other important elements before it can serve it’s purpose – that of self-realisation, or of waking the practitioner up from the dream of Maya (illusion).
</blockquote>
<p>
Of course, not everybody is doing postures for the purpose of self-realisation. Many people are doing postures to get things, like flexibility, strength, injury recovery, a yoga high, popularity, sponsorships, a sexy partner or even fame.
</p>
<p>
There is irony there when that which serves to lesson our ego identification – yoga postures – has instead become something which now enforces a new, stronger ego identification. That of Yogi.
</p>
<p>
Not in the old sense of the word as one who is self-realised (or well along the path), but as in “one who does yoga postures”.
</p>
<p>
But without two crucial elements accompanying the practicing of postures, one will never develop a yoga practice, nor break the binds of identification that create Maya and prevent self-realisation.
</p>
</div> <!--- close main page -->

<div id="side">

<h2>YOGA POSES</h2>

<img src="/static/images/side1.jpg" alt="side" width="260" height="496">

<p>You can browse our extensive yoga <a href="/poses" class="link">pose library</a>
</p>

</div>  <!-- close side -->

<div id="footer">
<h5> Modified by "Tri Nguyen"  
&copy; Copyright 2016 <a class="link" href="mailto:minhtri.ng@gmail.com" target="_top">minhtri.ng@gmail.com</a> build for COMP698 Final Project<!-- email and contact-->
</h5>

<script language="javascript">
<!-- Hide from old browsers
    document.write("<cite>This document was last modified "+document.lastModified+"</cite>")
// -->
</script>
</div> <!--- close footer -->
</div><!--- close of the container -->
</body>
</html>